* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", system-ui, sans-serif;
    font-size: 16px;
}

body > .main-container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.main-container > .left-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background: url(./birdge-sunset.jpg);
    background-size: cover;
    width: min(50vw, 500px);
}

.left-container > .main-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: calc(50vh - 100px);
    width: 200px;
    height: 100px;
    border: 5px solid #ffffff;
}

.main-logo-container > .logo {
    font-size: 32px;
    font-weight: 800;
    color: #ffffff;
}

.left-container > .footer-notes {
    margin-top: auto;
    margin-bottom: 10px;
}

.footer-notes > p {
    color: #ffffff;
}
.footer-notes a {
    color: #ffffff;
    font-weight: 700;
}

.main-container > .right-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-color: #fafbfc;
}

.right-container > .right-upper-container {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 700;
    margin-left: 50px;
    width: min(50vw - 50px, 800px);
}

.right-container > .right-middle-container {
}

.right-middle-container .form-wrapper {
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    margin-bottom: 20px;
}

.form-wrapper > h3 {
    margin-bottom: 20px;
}

.form-wrapper > .input-wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 20px;
    width: min(50vw - 50px, 800px);
}

.input-wrapper > .form-row {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.form-row > input {
    height: 50px;
    padding: 5px 10px;
    border: 1px solid grey;
    border-radius: 5px;
    outline: none;
}

input:is(#email, #phone, #password, #repassword):invalid {
    border: 1px solid red;
}
#email + div {
    position: relative;
}
#email:invalid + div::after {
    position: absolute;
    content: "please use the correct email";
    font-size: 8px;
}
#phone + div {
    position: relative;
}
#phone:invalid + div::after {
    position: absolute;
    content: "please use the correct phone number";
    font-size: 8px;
}

:is(#password, #repassword) + div {
    position: relative;
}
:is(#password, #repassword):invalid + div::after {
    position: absolute;
    content: "please use the correct password";
    font-size: 8px;
}

.right-middle-container button.create-account {
    font-size: 16px;
    font-weight: 700;
    padding: 15px 40px;
    margin-left: 50px;
    background-color: #d9723d;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

.right-container > .login-text {
    margin-left: 50px;
}

.login-text a {
    color: #f4934c;
    font-weight: 700;
    text-decoration: none;
}